.intro-portfolio {
    height: 1271px;
}

.main-container{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Roboto;
}

.project-title{
    text-align: center;
}

.paragraph-text{
    line-height: 1.5;
}

.battleship-container{
    background-color:antiquewhite;
}

.discord-container{
    background-color: bisque;
}

.chatbot-container{
    background-color: bisque;
}

.coming-soon-container{
    padding-top: 20%;
    text-align: center;
}

.logo-battleship {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.logo-discord{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.logo-chatbot{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}