/* Header Container */
.page-header {
    background-color: white;
}

/* Header Buttons */
.header-button {
    background-color: white;
    color: black;

    /* Button text */
    font-weight: bold;
    font-size: 20px;

    /* Button shape */
    border: none;
    border-radius: 10px;

    cursor: pointer;
}
.header-button:hover {
    color: red;
}
.header-button:active {
    opacity: 0.7;
}


/* Title Container */
.page-title {
    background-color: rgb(87, 242, 87);
}

/* Title Text */
.title-text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

.intro-button {
    background-color: blue;
    color: white;
    /* Button text */
    font-weight: bold;
    font-size: 15px;
    
    /* Button shape */
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
    transition: box-shadow 0.2s; /* time for shadow to occur */
    margin-left: 600px;

    /* For 3D click effect */
    margin-top: 0;
    margin-bottom: 50px;
}
.intro-button:hover {
    box-shadow: 6px 6px 20px rgba(0,0,0, 0.2);
}
.intro-button:active {
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 45px;
}

/* Portfolio button */
.portfolio-button {
    background-color: blue;
    color: white;
    
    /* Button text */
    font-weight: bold;
    font-size: 15px;
    
    /* Button shape */
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
    transition: box-shadow 0.2s; /* time for shadow to occur */
    margin-left: 50px;

    /* For 3D click effect */
    margin-top: 0;
    margin-bottom: 50px;
}
.portfolio-button:hover {
    box-shadow: 6px 6px 20px rgba(0,0,0, 0.2);
}
.portfolio-button:active {
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 45px;
}


/* Introduction Container */
.page-intro {
    background-color: white;
}

/* Profile Pic */
.pfp {
    width: 300px;
    float: left;
    margin: 30px 30px 0 375px;
}

/* Introduction Text */
.intro-text {
    font-size: 20px;
    width: 500px;
    display: inline-block;
    margin-top: 150px;
}



/* underline */
.underlining:hover {
    text-decoration: underline;
    cursor: pointer;
}